<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo app</title>
</head>
<body>
    <div class="table-container">
        <h2 class="todo-title">Todo Title</h2>
        <div>
            <a href="" class="btn">Add Todo</a>
        </div>
        <br/>
        <table>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>Test todo title</td>
                <td>Test todo description</td>
                <td>created time</td>
                <td>updated time</td>
                <td>
                    <a href="" class="btn">Edit</a>
                    <a href="" class="btn">Delete</a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>